@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
body {
  -webkit-text-size-adjust: 100%;
}

button {
  border-radius: 0 !important;
}

* {
  font-family: "Roboto", sans-serif;
}

html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
body,
header,
.carousel {
    height: 100vh;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  html,
body,
header,
.carousel {
    height: 100vh;
  }
}
body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
  text-transform: capitalize;
}

p {
  font-weight: 300 !important;
}

@media (max-width: 992px) {
  .container {
    padding: 0 30px !important;
  }
}
.row {
  --bs-gutter-x: 0 !important;
}

.div-shadow {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.grey-text {
  color: #949494;
}

.pink-btn {
  background-color: #ff80ab;
  border-radius: 0;
  border: 2px solid #ff80ab;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
  padding: 1rem 3rem;
}

.pink-btn:hover {
  opacity: 0.7;
}

.white-hover-primary {
  color: white;
}

.white-hover-primary:hover {
  color: #ff80ab;
}

.btn-outline-white {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.btn-outline-white:hover {
  opacity: 0.7;
}

h1.primary,
.primary,
.primary-hover-white {
  color: #ff80ab !important;
}

.primary-hover-white:hover {
  color: white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.dark {
  color: #c94f7c;
}

.btn-outline-primary,
a.btn-outline-primary {
  color: #ff80ab !important;
  border: 2px solid #ff80ab !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.btn-outline-primary:hover,
a.btn-outline-primary:hover {
  color: #c94f7c !important;
  border: 2px solid #c94f7c !important;
}

.btn-primary2 {
  background-color: #ff80ab !important;
  border: 2px solid #ff80ab !important;
  color: #ffffff !important;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.btn-primary2:hover,
a.btn-primary2:hover {
  background-color: #c94f7c !important;
  border: 2px solid #c94f7c !important;
  color: #ffffff !important;
}

.center-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: #929fba;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #929fba !important;
  }
}
nav {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
nav button {
  color: whitesmoke;
}

@media screen and (max-width: 770px) {
  nav {
    padding: 3px 0 !important;
    -webkit-transition: 0.2s ease-in-out;
    transition: 0.2s ease-in-out;
    background-color: #ff80ab;
    opacity: 1;
  }
}
.nav-scroll {
  padding: 3px 0 !important;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-color: #ff80ab;
  opacity: 1;
}

nav a:hover {
  opacity: 0.8;
  color: white;
}

nav li a {
  margin-top: 0;
  color: #ffffff;
  text-transform: capitalize;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #ff80ab;
  }
}
#nav-brand-logo {
  width: 100px;
}

@media screen and (min-width: 770px) {
  #nav-brand-logo {
    width: 160px;
  }
}
.bg-header {
  position: relative;
  text-align: center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.bg-header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
.bg-header .bg-text {
  z-index: 1000;
}
.bg-header .bg-text h1 {
  color: #ff80ab;
}

@media screen and (max-width: 770px) {
  .bg-header {
    height: 90vh;
  }
}
#home {
  background-image: url("/images/banners/home_mb.jpg");
}

#individual {
  background-image: url("/images/banners/individual_mb.jpg");
}

#workshops {
  background-image: url("/images/banners/workshops_mb.jpg");
}

#programas {
  background-image: url("/images/banners/programas_mb.jpg");
}

#testimonios {
  background-image: url("/images/banners/testimonios_mb.jpg");
}

#contact {
  background-image: url("/images/banners/contact_mb.jpg");
}

@media screen and (min-width: 481px) {
  #home {
    background-image: url("/images/banners/home_bg.jpg");
  }

  #individual {
    background-image: url("/images/banners/individual_bg.jpg");
  }

  #workshops {
    background-image: url("/images/banners/workshops_bg.jpg");
  }

  #programas {
    background-image: url("/images/banners/programas_bg.png");
  }

  #testimonios {
    background-image: url("/images/banners/testimonios_bg.png");
  }

  #contact {
    background-image: url("/images/banners/contact_bg.png");
  }
}
@media screen and (max-width: 770px) {
  .mobile-center {
    text-align: center;
  }
  .mobile-center .col-1 {
    width: 100%;
  }
}
footer.page-footer .footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
}
footer.page-footer .footer-copyright a {
  color: #ffffff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}
footer.page-footer .footer-copyright a:hover {
  color: #ff80ab;
  cursor: pointer;
}

.page-footer {
  background-color: #2e3951;
}

.bendando-link:hover {
  text-decoration: underline;
  color: #ff80ab;
}

@media (min-width: 992px) {
  .services-card-text {
    height: 127px;
  }
}
.accordion-button {
  background-color: #ff80ab;
  color: #ffffff;
}

.accordion-button:focus {
  background-color: #ffffff;
  color: #ff80ab;
  border: #ff80ab;
}

.testimonial-circle {
  padding: 20px;
}

.testimonial-card-container {
  padding: 20px 0px;
}

@media (min-width: 992px) {
  .testimonial-card {
    padding: 40px;
  }

  .testimonial-card-container {
    padding: 20px 40px;
  }

  .testimonial-text {
    height: 144px;
  }
}
form {
  padding: 2rem;
  border-radius: 15px;
}

form input,
form textarea {
  border: none;
  border-bottom: 1px solid lightgray !important;
  padding: 1rem;
  cursor: pointer;
}

form input:focus,
form textarea:focus {
  border-bottom: 2px solid #ff80ab !important;
  outline: none;
  cursor: text;
}

#form4Example4 {
  padding: 0.05rem;
}

.error-validation {
  color: red !important;
  font-size: 11px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#feedback {
  background: #ff80ab;
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

#response {
  height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 !important;
}

#feedback-text,
#response-text {
  opacity: 0;
  visibility: hidden;
  color: white;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 500;
}

@-webkit-keyframes pop-down {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}

@keyframes pop-down {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}
.pop-down {
  -webkit-animation: 0.8s pop-down both;
          animation: 0.8s pop-down both;
}

@-webkit-keyframes pop-up {
  0% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

@keyframes pop-up {
  0% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}
.pop-up {
  -webkit-animation: 0.8s pop-up both;
          animation: 0.8s pop-up both;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
.fade-in {
  -webkit-animation: 1s fade-in both;
          animation: 1s fade-in both;
}

@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.fade-out {
  -webkit-animation: 1s fade-out both;
          animation: 1s fade-out both;
}

.message-sent {
  background-color: #80ffa8;
}

.message-error {
  background-color: #ff8b80;
}

.disable-click {
  pointer-events: none;
}/*# sourceMappingURL=globals.css.map */