/* GLOBAL */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

h1 {
  color: #ff80ab;
}

h2,
h3,
h4,
h5 {
  color: black;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-top: 1rem;
  color: #a9a9a9;
}

i {
  color: #ff80ab;
}

button i {
  color: white;
}

/* Causes White space on Mobile version */

.row {
  --bs-gutter-x: 0 !important;
}

/* NAV */

nav {
  background-color: #ff80ab;
  position: fixed;
}

nav a:hover {
  opacity: 0.8;
  color: white;
}

nav li {
  margin-top: 0;
  color: white;
}

/* FOOTER */

footer {
  background-color: #2e3951;
  color: white;
}

footer i {
  transition: 0.2s ease-in-out;
}

footer i:hover {
  color: white;
}

.card {
  min-height: 575px;
}

/* HOME */

.service .card img {
  height: 200px;
}

.header {
  padding: 15rem 0;
  background-color: #2e3951;
  background-size: cover;
  position: relative;
}

.intro {
  z-index: 200;
}

/* HOME */

.home-head {
  background-image: url("../public/images/Home-Header.jpg");
}

@media screen and (max-width: 500px) {
  .home-head {
    background-image: url("../public/images/Home-Mobile.jpg");
  }
}

/* Therapy */
.therapy {
  background-image: url("../public/images/Individual-Header.jpg");
}

@media screen and (max-width: 500px) {
  .therapy {
    background-image: url("../public/images/terapia-mobile.jpg");
  }
}

/* Workshop */
.workshop {
  background-image: url("../public/images/Workshop-Header.jpg");
}

/* Programmes */
.programas {
  background-image: url("../public/images/programa-landscape.png");
}

/* Testmimonials */
.testimonios {
  background-image: url("../public/images/Testimonios-Header.png");
}

@media screen and (max-width: 500px) {
  .testimonios {
    background-image: url("../public/images/test-mobile.jpg");
  }
}

.testimonials .card img {
  border-radius: 50%;
  width: 200px;
}

/* Contact */
.contact {
  background-image: url("../public/images/Contact-Header.png");
}

@media screen and (max-width: 500px) {
  .contact {
    background-image: url("../public/images/Contact-Mobile.jpg");
  }
}

/* Transitions */
.page {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #ff80ab;
  z-index: 300;
  border-right: 2px solid #2e3951;
}

li h4 {
  color: black;
}
