/* GLOBAL */

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

h1 {
  color: #ff80ab;
  font-weight: 500;
}

h2,
h3,
h4,
h5 {
  color: black;
  font-weight: 300;
}

p,
li {
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li {
  margin-top: 1rem;
  color: #a9a9a9;
}

i {
  color: #ff80ab;
}

button {
  text-transform: uppercase;
}

button i {
  color: white;
} */

/* Causes White space on Mobile version */

/* .row {
  --bs-gutter-x: 0 !important;
}
*/
form {
  padding: 2rem;
  border-radius: 15px;
}

.pink-btn {
  background-color: #ff80ab;
  border-radius: 0;
  border: 2px solid #ff80ab;
  transition: ease-in-out 0.2s;
  padding: 1rem 3rem;
}

.pink-btn:hover {
  opacity: 0.7;
}

form input,
form textarea {
  border: none;
  border-bottom: 1px solid lightgray !important;
  padding: 1rem;
  cursor: pointer;
}

form input:focus,
form textarea:focus {
  border-bottom: 2px solid #ff80ab !important;
  outline: none;
  cursor: text;
}

#form4Example4 {
  padding: 0.05rem;
}

.error-validation {
  color: red !important;
  font-size: 11px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#feedback {
  background: #ff80ab;
  height: 0;
  display: flex;
  align-items: center;
  position: relative;
}

#response {
  height: 0;
  display: flex;
  align-items: center;
  margin: 0 !important;
}

#feedback-text,
#response-text {
  opacity: 0;
  visibility: hidden;
  color: white;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 500;
}

@keyframes pop-down {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}

.pop-down {
  animation: 0.8s pop-down both;
}

@keyframes pop-up {
  0% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

.pop-up {
  animation: 0.8s pop-up both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  animation: 1s fade-in both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
  animation: 1s fade-out both;
}

.message-sent {
  background-color: #80ffa8;
}

.message-error {
  background-color: #ff8b80;
}

.disable-click {
  pointer-events: none;
}

/* NAV */

// nav {
//   background-color: rgba(0, 0, 0, 0.2);
//   position: fixed;
//   transition: 0.2s ease-in-out;
//   box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
// }

// @media screen and (max-width: 770px) {
//   nav {
//     padding: 3px 0 !important;
//     transition: 0.2s ease-in-out;
//     background-color: #ff80ab;
//     opacity: 1;
//   }
// }

// .nav-scroll {
//   padding: 3px 0 !important;
//   transition: 0.2s ease-in-out;
//   background-color: #ff80ab;
//   opacity: 1;
// }

// .navbar-brand {
//   color: white;
//   z-index: 3;
//   opacity: 1;
// }

// nav a:hover {
//   opacity: 0.8;
//   color: white;
// }

// nav li {
//   margin-top: 0;
//   color: white;
// }

/* FOOTER */

/* footer {
    background-color: #2e3951;
    color: white;
  }
  
  footer i {
    transition: 0.2s ease-in-out;
  }
  
  footer i:hover {
    color: white;
  }
  
  .card {
    min-height: 575px;
  }
  
  @media screen and (max-width: 1000px) {
    .card {
      height: 750px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .card {
      height: 500px;
    }
  } */

/* HOME */

/* .service .card img {
    height: 200px;
  }
  
  .header {
    padding: 13rem 0;
    background-color: #2e3951;
    background-size: cover;
    position: relative;
  }
  
  .intro {
    z-index: 200;
  } */

/* HOME */

/* .home-head {
    background-image: url("../public/images/home-dark-header.jpg");
  }
  
  @media screen and (max-width: 500px) {
    .home-head {
      background-image: url("../public/images/home-dark-mobile.jpg");
    }
  } */

/* Therapy */
/* .therapy {
    background-image: url("../public/images/terapia-dark-header.jpg");
  }
  
  @media screen and (max-width: 500px) {
    .therapy {
      background-image: url("../public/images/terapia-dark-mobile.jpg");
    }
  } */

/* Workshop */
/* .workshop {
    background-image: url("../public/images/workshop-dark-header.jpg");
  }
  
  @media screen and (max-width: 500px) {
    .workshop {
      background-image: url("../public/images/workshop-dark-mobile.jpg");
    }
  } */

/* Programmes */
/* .programas {
    background-image: url("../public/images/programas-dark-header.jpg");
  }
  
  @media screen and (max-width: 500px) {
    .programas {
      background-image: url("../public/images/programas-dark-mobile.jpg");
    }
  } */

/* Testmimonials */
/* .testimonios {
    background-image: url("../public/images/testimonios-dark-header.jpg");
  }
  
  @media screen and (max-width: 500px) { */
/* .testimonios {
      background-image: url("../public/images/testimonios-dark-mobile.jpg");
    }
  }
  
  .testimonials .card img {
    border-radius: 50%;
    width: 200px;
  } */

/* Contact */
/* .contact {
    background-image: url("../public/images/contact-dark-header.jpg");
  }
  
  @media screen and (max-width: 500px) {
    .contact {
      background-image: url("../public/images/contact-dark-mobile.jpg");
    }
  } */

/* Transitions */
/* .page {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #ff80ab;
    z-index: 300;
    border-right: 2px solid #2e3951;
  }
  
  li h4 {
    color: black;
  } */

/* Accordian */

/* .accordion-collapse {
    border-width: 0 !important;
  }
  
  .accordion-button {
    background-color: #ff80ab;
    color: whitesmoke;
  }
  
  .accordion-button.collapsed {
    border: 1px solid whitesmoke;
  }
  
  .accordion-body {
    padding-bottom: 2rem;
    border: 2px solid lightgray;
    border-top: 0;
  }
  
  .accordion-button:focus {
    background-color: whitesmoke;
    color: #ff80ab;
    outline: #ff80ab;
    border-color: #ff80ab;
  }
  
  .accordion-button:not(.collapsed) {
    background-color: #ff80ab;
    color: whitesmoke;
  }
  
  .view {
    background-image: url("/images/contact-dark-header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
  }
  
  #learnMore {
    width: 207px;
    height: 50px;
    padding-bottom: 0px;
    padding-top: 15px;
  }
  
  .repair {
    width: 100%;
    height: auto;
  } */

$primary-color: #ff80ab;
$light-color: #ffb2dd;
$dark-color: #c94f7c;

body {
  -webkit-text-size-adjust: 100%;
}
/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
}
/* Half Page Carousel itself*/
.carousel {
  height: 50%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}
/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}
/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}

.top-nav-collapse {
  background-color: $primary-color;
}
/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: $primary-color;
  }
}
/* Footer color for sake of consistency with Navbar */

.white-hover-primary {
  color: white;
}
.white-hover-primary:hover {
  color: $primary-color;
}

.btn-outline-white:hover {
  opacity: 0.7;
}
h1.primary,
.primary,
.primary-hover-white {
  color: $primary-color !important;
}

.primary-hover-white:hover {
  color: white;
  transition: 0.5s;
}

.dark {
  color: $dark-color;
}

.btn-outline-primary,
a.btn-outline-primary {
  color: $primary-color !important;
  border: 2px solid $primary-color !important;
}

.btn-outline-primary:hover,
a.btn-outline-primary:hover {
  color: $dark-color !important;
  border: 2px solid $dark-color !important;
}

.btn-primary2 {
  background-color: $primary-color !important;
  border: 2px solid $primary-color !important;
  color: #ffffff !important;
}

.btn-primary2:hover,
a.btn-primary2:hover {
  background-color: $dark-color !important;
  border: 2px solid $dark-color !important;
  color: #ffffff !important;
}

//small width
@media (min-width: 992px) {
  .services-card-text {
    height: 127px;
  }
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

.full-width {
  width: 100%;
}

.bendando-link:hover {
  text-decoration: underline;
  color: $primary-color;
}

@media (max-width: 992px) {
  .container {
    padding: 0 30px !important;
  }
}

.md-form:focus {
  border-bottom: 1px solid $primary-color !important;
  box-shadow: 0 1px 0 0 $primary-color !important;
}

.testimonial-circle {
  padding: 20px;
}

.testimonial-card-container {
  padding: 20px 0px;
}

@media (min-width: 992px) {
  .testimonial-card {
    padding: 40px;
  }

  .testimonial-card-container {
    padding: 20px 40px;
  }

  .testimonial-text {
    height: 144px;
  }
}

/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%;
}

/* Half Page Carousel itself*/
.carousel {
  height: 50%;
}

.carousel .carousel-inner {
  height: 100%;
}

.carousel .carousel-inner .carousel-item,
.carousel .carousel-inner .active {
  height: 100%;
}

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%;
  }
}

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.5);
}

.top-nav-collapse {
  background-color: #929fba;
}

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #2e3951;
  }
}

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #2e3951;
}

html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #929fba !important;
  }
}

nav {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: 0.5s ease-in-out;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
}

@media screen and (max-width: 770px) {
  nav {
    padding: 3px 0 !important;
    transition: 0.2s ease-in-out;
    background-color: #ff80ab;
    opacity: 1;
  }
  nav button {
    color: whitesmoke;
  }
}

.nav-scroll {
  padding: 3px 0 !important;
  transition: 0.5s ease-in-out;
  background-color: #ff80ab;
  opacity: 1;
}

.navbar-brand {
  color: white;
  z-index: 3;
  opacity: 1;
}

nav a:hover {
  opacity: 0.8;
  color: white;
}

nav li a {
  margin-top: 0;
  color: #ffffff;
}

.bg-image {
  max-height: 60vh;
}

.banner {
  h1 {
    color: $primary-color;
  }
  .banner-img {
    width: 100%;
    object-fit: cover;
    height: 60vh;
  }
}

footer.page-footer .footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
  a {
    color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
  }
  a:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.bg-header {
  position: relative;
  text-align: center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .bg-text {
    z-index: 1000;
    h1 {
      color: $primary-color;
    }
  }
}

@media screen and (max-width: 770px) {
  .bg-header {
    height: 90vh;
  }
  .mobile-center {
    text-align: center;
    .col-1 {
      width: 100%;
    }
  }
}

.row {
  --bs-gutter-x: 0 !important;
}
