// Page Styling

// 1. General Page Styling
// 2. Components:
//  - Navbar
//  - Banners
//  - Footer
// 3. Pages:
//  - Home
//  - Testimonios
//  - Contact

// ///////////////////////////////////////////////////////////////////

$primary-color: #ff80ab;
$light-color: #ffb2dd;
$dark-color: #c94f7c;

body {
  -webkit-text-size-adjust: 100%;
}

.btn,
.card {
  border-radius: 0.125rem !important;
  font-size: 13px !important;
  font-weight: 400 !important;
}

// @import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

html,
body,
header,
.carousel {
  height: 60vh;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

@media (min-width: 800px) and (max-width: 850px) {
  html,
  body,
  header,
  .carousel {
    height: 100vh;
  }
}

body {
  -webkit-text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  text-transform: capitalize;
}

p {
  font-weight: 300 !important;
}

@media (max-width: 992px) {
  .container {
    padding: 0 30px !important;
  }
}

.row {
  --bs-gutter-x: 0 !important;
}

.div-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
}

.grey-text {
  color: rgb(148, 148, 148);
}

.pink-btn {
  background-color: #ff80ab;
  border-radius: 0;
  border: 2px solid #ff80ab;
  transition: ease-in-out 0.2s;
  padding: 1rem 3rem;
}

.btn-md {
  padding: 0.7rem 1.6rem;
}

.pink-btn:hover {
  opacity: 0.7;
}

.white-hover-primary {
  color: white;
}
.white-hover-primary:hover {
  color: $primary-color;
}

.btn-outline-white {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.btn-outline-white:hover {
  opacity: 0.7;
}

h1.primary,
.primary,
.primary-hover-white {
  color: $primary-color !important;
}

.primary-hover-white:hover {
  color: white;
  transition: 0.5s;
}

.dark {
  color: $dark-color;
}

.btn-outline-primary,
a.btn-outline-primary {
  color: $primary-color !important;
  border: 2px solid $primary-color !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.btn-outline-primary:hover,
a.btn-outline-primary:hover {
  color: $dark-color !important;
  border: 2px solid $dark-color !important;
}

.btn-primary2 {
  background-color: $primary-color !important;
  border: 2px solid $primary-color !important;
  color: #ffffff !important;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.3);
  border-radius: 0;
}

.btn-primary2:hover,
a.btn-primary2:hover {
  background-color: $dark-color !important;
  border: 2px solid $dark-color !important;
  color: #ffffff !important;
}

.center-children {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
  align-items: center;
}

// Components
// ///////////////////////////////////////////////////////////////////

// Navbar
// ///////////////////////////////////////////////////////////////////

.navbar {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 16%), 0 2px 10px 0 rgba(0, 0, 0, 12%);
  transition: 0.5s ease-in-out;
}

.top-nav-collapse {
  background-color: #929fba;
}

nav {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  transition: 0.5s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 16%), 0 2px 10px 0 rgba(0, 0, 0, 12%);
  //box-shadow: 0 4px 10px 0 rgb(0, 0, 0,20%), 0 4px 20px 0 rgb(0, 0, 0, 10%);
  //box-shadow: 0 2px 5px 0 rgb(0 0 0 /16%), 0 2px 10px 0 rgb(0 0 0 / 12%) !important;
  button {
    color: whitesmoke;
  }
}

@media screen and (max-width: 770px) {
  nav {
    padding: 3px 0 !important;
    transition: 0.2s ease-in-out;
    background-color: #ff80ab;
    opacity: 1;
  }
}

.nav-scroll {
  padding: 3px 0 !important;
  transition: 0.5s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 16%), 0 2px 10px 0 rgba(0, 0, 0, 12%);
  background-color: #ff80ab;
  opacity: 1;
}

nav a:hover {
  opacity: 0.8;
  color: white;
}

nav li a {
  margin-top: 0;
  color: #ffffff;
  text-transform: capitalize;
}

@media only screen and (max-width: 991px) {
  .navbar {
    background-color: #ff80ab;
  }
}

#nav-brand-logo {
  width: 100px;
}

@media screen and (min-width: 770px) {
  #nav-brand-logo {
    width: 160px;
  }
}

// Banners
// ///////////////////////////////////////////////////////////////////

.bg-header {
  position: relative;
  text-align: center;
  height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .bg-text {
    z-index: 1000;
    h1 {
      color: $primary-color;
    }
  }
}

@media screen and (max-width: 481px) {
  .bg-header {
    height: 100vh;
  }
}

#home {
  background-image: url("/images/banners/home_mb.jpg");
}

#individual {
  background-image: url("/images/banners/individual_mb.jpg");
}

#workshops {
  background-image: url("/images/banners/workshops_mb.webp");
}

#programas {
  background-image: url("/images/banners/programas_mb.jpg");
}

#testimonios {
  background-image: url("/images/banners/testimonios_mb.jpg");
}

#contact {
  background-image: url("/images/banners/contact_mb.jpg");
}

@media screen and (min-width: 481px) {
  #home {
    background-image: url("/images/banners/home_bg.jpg");
  }

  #individual {
    background-image: url("/images/banners/individual_bg.jpg");
  }

  #workshops {
    background-image: url("/images/banners/workshops_bg.webp");
  }

  #programas {
    background-image: url("/images/banners/programas_bg.jpg");
  }

  #testimonios {
    background-image: url("/images/banners/testimonios_bg.jpg");
  }

  #contact {
    background-image: url("/images/banners/contact_bg.jpg");
  }
}

@media screen and (max-width: 770px) {
  .mobile-center {
    .col-1 {
      width: 100%;
    }
  }
}

// Footer
// ///////////////////////////////////////////////////////////////////

footer.page-footer .footer-copyright {
  background-color: rgba(0, 0, 0, 0.2);
  a {
    color: #ffffff;
    transition: 0.5s;
    cursor: pointer;
  }
  a:hover {
    color: $primary-color;
    cursor: pointer;
  }
}

.page-footer {
  background-color: #2e3951;
}

.bendando-link {
  color: #ffffff;
}

.bendando-link:hover {
  text-decoration: underline;
  color: $primary-color;
}

// PAGES
// ///////////////////////////////////////////////////////////////////

// Home
// ///////////////////////////////////////////////////////////////////

@media screen and (max-width: 767px) {
  h1 {
    font-size: 2.5rem;
  }

  .sub-text {
    display: none;
  }
}

.card-img-top {
  height: 175px;
  width: 100%;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  hr {
    background-color: lightgray !important;
    color: lightgray !important;
    width: 80%;
  }
  p {
    font-size: 16px;
  }
}

.service-card {
  p {
    font-size: 14px;
  }
}

@media (min-width: 767px) {
  .card-img-top {
    height: 300px;
  }
}

@media (min-width: 992px) {
  .card-text {
    padding-top: 1rem;
    height: 127px;
  }

  .card-img-top {
    height: 220px;
  }
}

.accordion-button {
  background-color: $primary-color;
  color: #ffffff;
}

.accordion-button:focus {
  background-color: #ffffff;
  color: $primary-color;
  border: $primary-color;
}

// Testimonios
// ///////////////////////////////////////////////////////////////////

.testimonial-circle {
  padding: 20px;
}

.testimonial-card-container {
  padding: 20px 0px;
}

@media (min-width: 992px) {
  .testimonial-card {
    padding: 40px;
  }

  .testimonial-card-container {
    padding: 20px 40px;
  }

  .testimonial-text {
    height: 144px;
  }
}

// Contact
// ///////////////////////////////////////////////////////////////////

form {
  padding: 2rem;
  border-radius: 15px;
}

form input,
form textarea {
  border: none;
  border-bottom: 1px solid lightgray !important;
  padding: 1rem;
  cursor: pointer;
}

form input:focus,
form textarea:focus {
  border-bottom: 2px solid #ff80ab !important;
  outline: none;
  cursor: text;
}

#form4Example4 {
  padding: 0.05rem;
}

.error-validation {
  color: red !important;
  font-size: 13px;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

#feedback {
  background: #ff80ab;
  height: 0;
  display: flex;
  align-items: center;
  position: relative;
}

#response {
  height: 0;
  display: flex;
  align-items: center;
  margin: 0 !important;
}

#feedback-text,
#response-text {
  opacity: 0;
  visibility: hidden;
  color: white;
  position: absolute;
  margin-top: 15px;
  margin-left: 15px;
  font-weight: 500;
}

@keyframes pop-down {
  0% {
    height: 0;
  }
  100% {
    height: 50px;
  }
}

.pop-down {
  animation: 0.8s pop-down both;
}

@keyframes pop-up {
  0% {
    height: 50px;
  }
  100% {
    height: 0;
  }
}

.pop-up {
  animation: 0.8s pop-up both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.fade-in {
  animation: 1s fade-in both;
}

@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

.fade-out {
  animation: 1s fade-out both;
}

.message-sent {
  background-color: #1aa145;
}

.message-error {
  background-color: #e74335;
}

.disable-click {
  pointer-events: none;
}
