.line {
  display: flex;
  justify-content: center;
}

#headerButtonPink {
  background-color: #ff80ab;
  border-radius: 0;
  border: 2px solid #ff80ab;
  transition: ease-in-out 0.2s;
}

#headerButtonPink:hover {
  opacity: 0.7;
}

#headerButtonInvisible {
  background-color: none;
  border-radius: 0;
  transition: ease-in-out 0.2s;
  border: 2px solid white;
}

#headerButtonInvisible:hover {
  opacity: 0.7;
}

.workshop h5 {
  text-decoration: none;
}

/* Causes White space on Mobile version */
